#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Terminal=false
Name=Flip
Comment=Tablet Mode flip
Icon=tablet.png
Exec=~/dev/spectre_screen/rubo-rotate-screen.sh -j